.main-header {
  width: 1200px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // padding: 0 103px 0 103px;
  background: conic-gradient(
    from 151deg at 16.03% 39.06%,
    #003d85 32.23633825778961deg,
    #b80027 313.3060026168823deg
  );
  background-image: url("../../img/hero-gradient.png");
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 103px 0 103px;
}
