.main-header {
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // padding: 0 103px 0 103px;
  background: conic-gradient(
    from 151deg at 16.03% 39.06%,
    #003d85 32.23633825778961deg,
    #b80027 313.3060026168823deg
  );
  background-image: url("../../img/hero-gradient.png");
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 103px 0 103px;
}

.main-header__logo {
  color: #ffffff;
  font-family: Alumni Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.72px;
}

.main-header__tel-number {
  color: #fff;
  font-family: Alumni Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.78px;
}
