.page {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  // width: 1200px;
}

.page__body {
  min-height: 100%;
  max-width: 1366px;
  margin: 0 auto;

  // @media (min-width: @tablet-width) {
  //   width: 768px;
  // }

  // @media (min-width: @desktop-width) {
  //   width: 1440px;
  //   color: @base-black;
  //   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  // }
  background-color: #ffffff;
  color: #000000;
}
