.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.subscription__pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.subscription__cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards__item {
  display: flex;
  flex-direction: column;
}
